<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky font-inter">
  <div class="container flex items-center justify-between nav-container">
    <!-- Logo container-->
    <a class="pl-0 logo" href="index.html">
      <img src="/assets/images/logo.png" alt="" />
    </a>
    <a class="pl-0 logo-dark" href="index.html">
      <img src="/assets/images/logo_dark.png" alt="" />
    </a>

    <!-- End Logo container-->

    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <li><a href="#home" class="home sub-menu-item active">Home</a></li>
        <li>
          <a href="#why-microzen" class="sub-menu-item why-microzen"
            >Why Microzen</a
          >
        </li>
        <li>
          <a
            href="#microfinance-software"
            class="sub-menu-item microfinance-software"
            >Microfinance Software</a
          >
        </li>
        <li>
          <a href="#customer-spotlight" class="sub-menu-item customer-spotlight"
            >Customer Spotlight</a
          >
        </li>
        <li>
          <a href="#feedbacks" class="sub-menu-item feedbacks">Feedbacks</a>
        </li>
        <li>
          <a href="#blog" class="sub-menu-item blog">Blog</a>
        </li>
      </ul>
      <!--end navigation menu-->
    </div>
    <!--end navigation-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>
  </div>
  <!--end container-->
</nav>
<!--end header-->
<!-- End Navbar -->
